*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    background-color: #212529;
    font-family: "Noto Sans Miao", sans-serif;
}

html {
    font-size: 62.5%;
}

a,
a:active {
    color: rgb(69, 128, 106);
    text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Miao&display=swap");